#row{
    height: 300px;
    width:100%;
    background-color:black;
}
#first{
    padding-top: 90px;
    text-shadow: 2px 2px 2px #333;
    text-align-last: center;
    font-size: 65px; 
    color : darkgray;
}

.w3-container w3-center w3-animate-right{
    background-color: white;
    width 100px;
    height:90px;
}

.firsth2{
    
    text-align-last: center;
    font-size: 25px; 
    color:black;
}
.secondh2{
    padding-top: 50px;
    text-align: center;
    font-size: 50px; 
    color : lightgray;
    
}
.thirdh2{
    
    padding-top: 50px;
    text-align: center;
    font-size: 50px; 
    color : #363635;
    
}

.header {/*https://78.media.tumblr.com/67f83f1918aff5fa67695d3a49c4681d/tumblr_oy1jtzFGky1sii87to1_1280.jpg
    https://i.ytimg.com/vi/iKQEzLE7YGw/maxresdefault.jpg  http://c2.peakpx.com/wallpaper/600/85/164/desktop-mac-apple-keyboard-pen-wallpaper.jpg    */
        
        background-image: url('http://backgroundcheckall.com/wp-content/uploads/2017/12/professional-background-images-for-websites-design-11.jpg');

        
        background-attachment: fixed;
        height:800px;
        background-repeat:no-repeat;
        background-position:center;
        background-size:cover;

    
    font-family: 'Raleway', sans-serif;
    font-weight: 100%;
    
    text-align: center;   
    }
#section3 {
     font-family:'Abel';
  width:100%;
  height:auto;
  float:left;
  margin:0px 0px  0px ;
  
    background-color:rgb(202,186,173);
    
}


#section2{
     text-align-last: center;
  font-family:'Abel';
  width:100%;
  height:auto;
  float:left;
  margin:0px 0px  0px ;
 
    background-color:whitesmoke;
}

#section2 .container {
			display: inline-block;
			margin: auto auto;
			width: 400px;
    padding-top: 40px;
		}

.header a {
    
				color:  white;
				text-decoration: none;
                font-size:17px;
    font-family:'Raleway', sans-serif;
			}

.button a{
    vertical-align:bottom;
}				

.button {
    margin-top: 40px;
  height: 80px;
  width: 80px;
  border-radius: 100%;
  background: #363635 ;
  transition: height 0.5s;
  transition: width 0.5s;
  transition: border-radius 1s, box-shadow 1s, background 1s;*/
  line-height: 75px;
  text-align: center;
  display: inline-block;
    font-size:17px;
    font-family:'Raleway', sans-serif;
    
    
    
 
}

.button:hover a{
    color:#363635;
    text-decoration: none;
}
.button:hover {
 
    
  border-radius: 0%;
  
  background: #DDD;
  transition: border-radius 0.2s, box-shadow 0.2s, background 0.2s;*/
}
.title{
font-size:25px;
  font-family:'Raleway', sans-serif;
    text-align: center;
    color: white;
    padding-bottom: 50px;
   
}
#section2 .col-md-3{
   background-color: #363635;
  
    height  :auto;
 margin-bottom: 10px;
    margin-right:20px;
    max-width:75%;

    
    
}

#section2 .row {
   margin-top:40px;
    margin-left: 220px;

    padding-bottom: 100px;

   
}

.margin {
margin: 10px;
}
.progress {
background-color: #FFFFFF;
box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    
}

.progress-label {
   
  font-family:'Raleway', sans-serif;
   
    color: white;
  
font-size: 18px;
text-align: left;
}
.progress-xxs {
    
height: 3px;
}


.sr-only {
position: relative !important
}

#section3 .container{
    margin-top:50px;
}

.image {
    
    width:100%;
 padding-left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
  
    height:300px;
    margin-bottom: 70px;

}
.container {
  position: relative;

  
}

.overlay {
   
    margin-bottom: 70px;
   margin-left:15px;
    margin-right: 15px;
    
background: rgb(0, 0, 0);
 background: rgba(0, 0, 0, 0.7);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
 width:auto;
    height:300px;
  opacity:50%;
  overflow: hidden;
  
  -webkit-transform:scale(0);
  transition: .3s ease;
}

.container:hover .overlay {
  transform: scale(1)
}
.text {
  color: white;
  font-size: 20px;
    font-family:'Raleway', sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
 text-align: center;
opacity:100%;
}

#footer{
   padding-left:200px;
    padding-bottom: 100px;
    width: 100%;
    height: auto;  
     font-family:  'Raleway', sans-serif;
     background-color:smokewhite;
  }
}
#contact{
       color:white;
       font-size:40px;
 
}
#email{
     
     color:black;
    font-size:20px;
}
a{   
    font-size:20px;
    color:black;
    
}

a:hover{
    color:black;
}
#n{color:black;
}

@media(max-width:760px){
   
    #first{
        font-size:50px;
     padding-top:40px;

    }
    .button{
margin-top:30px;
        height:60px;
        width:60px;
    }
    .button a {
        font-size: 14px;
        vertical-align: top;
    }
        
   
    .firsth2{
    /*text-shadow: 2px 2px 2px #333;*/
    
    font-size: 17px; 
        }
    #section2 .col-md-3{
    
        margin-right:7px;
   
        width:100%;
    }
    #section2 .row{
        margin-left:50px;
    }
    #footer{
        text-align: center;
        padding-left: 29px;
     
    }
    #footer .col-md-6{
        padding-bottom: 30px;
    }
  
}
.ml3 {
  font-weight: 900;
  font-size: 3.5em;
   padding-top: 90px;
    text-align-last: center;
    font-size: 65px; 
    color : black;
}
